//VARIAVEIS
    //CORES
    $cor-primaria-roxoescuro:#0C0421;
    $cor-secundaria-roxovibrantes: #4E75FF;
    $cor-terciaria-roxocalmante: #85A0ff;
    $cor-quaternaria-lilas: #E8F5C8;
    $cor-default-lilas: #CAD4FA;
    $cor-branco: #FFFFFF;
    $cor-gradiente-primario: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
    $cor-gradiente-secundario: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
    //FONTES
    $ft-textos: 'Montserrat', sans-serif;
    $ft-titulos: 'Krona One', sans-serif;